.dialog-title {
    font-size: 24px;
}

.dialog-para {
    font-size: 24px;
    margin: 30px 50px;
}

.dialog-buttons-yes-no {
    margin: 10px auto 25px;

    #dialogConfirmYes { margin-left: 50px; }
}